# requirements.txt

asgiref==3.8.1
beautifulsoup4==4.12.3
bottle==0.12.25
certifi==2024.2.2
cffi==1.16.0
charset-normalizer==3.3.2
clr-loader==0.2.6
dj==0.1
Django==5.1.1
django-colorfield==0.11.0
django-sizefield==2.1.0
djangorestframework==3.15.1
googlesearch-python==1.2.3
idna==3.6
mysql-connector-python==9.0.0
mysqlclient==2.2.4
pillow==10.3.0
proxy_tools==0.1.0
pycparser==2.21
pygame==2.5.2
PyMySQL==1.1.1
pythonnet==3.0.3
pywebview==4.4.1
requests==2.31.0
soupsieve==2.5
sqlparse==0.4.4
typing_extensions==4.9.0
tzdata==2024.1
urllib3==2.2.0
