{% extends 'base.html' %}

{% block start %}
<div class="head">
    <img src="">
</div>

{% load static %}

<div class="container" style="margin-top: 6%;">
    {% for i in data %}

    <form method="post" action="/shop/">
        {% csrf_token %}
        <div class="by" style="height: 370px;padding-left: 0px;">

            <div class="img-contain">
                <img src="{% static 'images/' %}{{i.image}}" style="height: 150px;margin-top: 10px;width: 300px;margin-top: 2px;">

                <a href="/wishlist/" class="cartbtn" style="top: 6px;">
                    <i class="fa-regular fa-heart"></i>
                </a>
            </div>
            <div class="str">
                <div class="pr">
                    <h6>{{i.rating}}</h6>
                </div>
                <h4>{{i.title}}</h4>
                <input type="hidden" name="title" value="{{i.title}}">
                <h6>{{i.description}}</h6>
                <h5>₹{{i.price}}</h5>
            </div>
            <p style="width: 320px;padding-top: 7px;padding-bottom: 7px;">{{i.offer}}</p>
            <input type="submit" value="Buy Now" style="height: 38px; border-radius: 4px;">
        </div>

    </form>

    {% endfor %}
</div>

{% endblock %}