<!-- ----------footer-------------- -->
 {% load static %}
<footer class="container-fluid">
    <div class="row text-white fw-light" style="background-color: rgb(8, 8, 94);">
        <div class="col-12">
            <h1 class="fw-light mt-4 ms-4">Buy The Best Eyewear From Lenskart</h1><br>

            <h6 class="fw-light ms-4 me-2">Lenskart Is The Leading E-Commerce Portal For Eyewear In India. It Has
                Revolutionised The Eyewear Industry In The Country With Its Omni-Channel Approach. From An Ever-Growing
                Numbern Of Offline Stores Across Major Cities In The Country To Innovative Integration Of Technology
                While Purchasing Online, Lenskart Caters To Every Customer With Several Deals And Offers.

            </h6><br>

            <h6 class="fw-light ms-4 me-2">A One-Stop Online Solution For Purchasing Eyewear And Its Accessories,
                Lenskart Delivers Them Right At Your Doorstep With Convenient Methods Of Payment. Sunglasses as well as
                Eyeglasses Are Available For Men And Women In A Diverse Array Of Styles And Trendy Colours. If You Want
                To Try Out Contact Lenses, Pick The Ones Of Your Choice From The Extensive Variety Of Coloured Contact
                Lenses From Our Online Store.</h6><br>
        </div>

        <div class="row justify-content-around ms-0 me-0 mt-5 ps-4" style="background-color: rgb(8, 8, 94);">
            <div class="col" style="background-color: rgb(8, 8, 94);">
                <h5>Services</h5>
                <p>
                    <a href="#" class="link-light bg-transparent">Store Locator</a><br>
                    <a href="#" class="link-light bg-transparent">Buying Guide</a><br>
                    <a href="#" class="link-light bg-transparent">Frame Size</a>
                </p>
            </div>
            <div class="col" style="background-color: rgb(8, 8, 94);">
                <h5>About Us</h5>
                <p>
                    <a href="#" class="link-light bg-transparent">We Are Hiring</a><br>
                    <a href="#" class="link-light  bg-transparent">Refer And Earn</a><br>
                    <a href="#" class="link-light  bg-transparent">About us</a><br>
                    <a href="#" class="link-light  bg-transparent">Lenskart Coupons</a><br>
                </p>
            </div>
            <div class="col" style="background-color: rgb(8, 8, 94);">
                <h5>Help</h5>
                <p>
                    <a href="#" class="link-light bg-transparent">FAQ`s</a>
                </p>
            </div>
        </div>
        <hr class="bg-white ms-4" id="hrr">
            <div class="row ms-0 ps-4" style="background-color: rgb(8, 8, 94);">
                <div class="col-md">T&C</div>
                <div class="col-md">Privacy</div>
                <div class="col-md">Disclaimer</div>
            </div>
    </div>
</footer>