{% extends 'base.html' %}

{% block start %}
{% load static %}

{% for i in data %}


    <div class="caption">
        <div class="cont">
            {{i.caption}}
        </div>
        <div class="ct">
            {{i.cont}}
        </div>
    </div>
    <div class="conatiner" style="display: flex;">

        <div class="product" style="margin-top: 20px;">
            <img src="{% static 'images/' %}{{i.image2}}"
                style="height: 450px;width: 450px;margin-top: 1px;border-radius: 10px; margin-right: 5px;border: solid;">
            <img src="{% static 'images/' %}{{i.image3}}"
                style="height: 450px;width: 450px;margin-top: 1px;border-radius: 10px;;border: solid;">
            <div class="im" style="margin-top: 20px;">
                <img src="{% static 'images/' %}{{i.image4}}"
                    style="height: 450px;width: 450px;margin-top: 1px;border-radius: 10px; margin-right: 5px;;border: solid;">
                <img src="{% static 'images/' %}{{i.image5}}"
                    style="height: 450px;width: 450px;margin-top: 1px;border-radius: 10px;;border: solid;">
            </div>
            <div class="img1" style="margin-top: 20px;">
                <img src="{% static 'images/' %}{{i.image6}}"
                    style="height: 450px;width: 450px;margin-top: 1px;border-radius: 10px; margin-right: 5px;;border: solid;">
                <img src="{% static 'images/' %}{{i.image7}}"
                    style="height: 450px;width: 450px;margin-top: 1px;border-radius: 10px;;border: solid;">
            </div>
            <div class="img2" style="margin-top: 20px;">
                <img src="{% static 'images/' %}{{i.image8}}"
                    style="height: 450px;width: 450px;margin-top: 1px;border-radius: 10px; margin-right: 5px;;border: solid;">
                <img src="{% static 'images/' %}{{i.image9}}"
                    style="height: 450px;width: 450px;margin-top: 1px;border-radius: 10px;;border: solid;;border: solid;">
            </div>
            

        </div>
        <form method="post" action="/cart/" style="margin-top: 10px;">
            {% csrf_token %}
            <input type="hidden" name="iid" value="{{i.id}}">
            <div class="detail">
                <p class="text-primary">{{i.title}}</p>
                <h1>{{i.pro_d}}</h1>
                <p>{{i.description1}}</p>
                <h5 class="">{{i.rating}}</h5>
                <h2 class="text-success">₹{{i.price}}</h2>
                <h3 class="text-danger">{{i.offer}}</h3>
                {% comment %} <div class="q ms-0 d-flex"> {% endcomment %}
                    {% comment %} <h4 class="m-0 ps-0">Quantity:</h4> {% endcomment %}
                    {% comment %} <input type="number" class="rounded ms-3" placeholder="Quantity" name="quantity" id="quantity" value="1" style="width:30px"> {% endcomment %}
                    <section class="quantity d-flex m-4">
                        <div class="quantities border border-black d-flex w-50 fs-4 align-items-center rounded">
                          <span class="subtraction position-start bg-primary rounded-start w-50 m-0">-</span>
                          <input name="quantity" class="num w-50 text-center" id="quantities" value="1">
                          <span class="addition bg-primary rounded-end w-50 m-0">+</span>
                        </div>
                    </section>
                {% comment %} </div> {% endcomment %}
                <input type="hidden" name="proname" value="{{i.pro_d}}">
                <input type="hidden" name="price" value="{{i.price}}">

                <button type="submit" class="btn btn-primary btn-lg m-3 w-75" value="Add To Cart">Add To Cart</button>
        </form>
                <br>
                <img src="{% static 'images/' %}{{i.airess1}}">
                <br>
                <img src="{% static 'images/' %}{{i.airess2}}">
                <br>
                <img src="{% static 'images/' %}{{i.airess3}}">
                <br>
                <img src="{% static 'images/' %}{{i.airess4}}">
                <br>
                <img src="{% static 'images/' %}{{i.airess5}}">
                <br>
                <img src="{% static 'images/' %}{{i.airess6}}">
                <br>
                <img src="{% static 'images/' %}{{i.airess7}}">
                <br>
                <img src="{% static 'images/' %}{{i.airess8}}">
                <br>
            </div>

    </div>



{% endfor %}

<script src="{% static 'js/product.js' %}"></script>
{% endblock %}