.product{
    width: 1024px;
    margin-left: 20px;
    margin-right: 0px;

}
.detail{
    margin-top: 30px;
    margin-left: 20px;
    /* margin-right: 60px; */
}

.detail h1{
    font-size: 20px;
}
.detail p{
    color: darkgrey;
    font-size: 20px;
}

h2{
    color: turquoise;
    margin-top: 15px;
}

.detail h3{
    background-color: rgb(247, 241, 222);
    font-size: 17px;
    padding-top: 14px;
    padding-bottom: 14px;
    padding-left: 5px;
    margin-top: 20px;
}

.detail .inp{
    background-color: turquoise;
    border: solid turquoise;
    padding-left: 150px;
    padding-right: 150px;
    padding-top: 15px;
    padding-bottom: 46px;
    font-size: 20px;
    margin-top: 16px;
}

.detail img{
    width: 408px;
    margin-top: 18px;
}

.detail h5{
    border: rgb(160, 159, 159) solid;
    border-radius: 1px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 7px;
    width: 181px;
    font-size: 18px;
    margin-right: 225px;
}

.caption{
    margin-left: 24px;
    margin-top: 7px;
    color: rgb(152, 157, 162);
    font-size: 14px;
    display: flex;
}

.cont{
    margin-left: 0px;
}

.ct{
    margin-right: 14px;
}


.review{
    margin-top: 40px;
}

.head{
    font-size: 25px;
}
.quantities{
    width: 47%;
    border:rgb(32, 143, 255) solid;
}

.quantities span{
    width: 35%;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
}

.quantities span.num{
    border-right: 2px solid rgb(32, 143, 255);
    border-left: 2px solid rgb(32, 143, 255);
    pointer-events: none;
}